@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:host {
  display: block;
  margin: 0;
  padding: 0;

  background-color: var(--primary-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

.home-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-left {
  height: 100vh;
  float: left;
  width: 15%;
  border-right: 1px solid red;
}

.main-content {
  height: 100vh;
  width: 70%;
  border-right: 1px solid blue;
}

.sidebar-right {
  height: 100vh;
  float: right;
  width: 15%;
}

.logo {
  width: 100%;
}

.logo img {
  width: 100%;
}

.divider {

  color: var(--accent-color-light-gray);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.divider::before,
.divider::after {
  background: var(--accent-color-light-gray);
  height: 2px;
  flex: 1;
  content: '';
}

.divider::before {
  margin-left: 20px;
}

.divider::after {
  margin-right: 20px;
}

/* TODO: REMOVE AFTER TESTING IS OVER */
#test-button {
  width: 200px;
  height: 30px;
}

.sidebar-users {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
