<div class="home-container">
    <div class="sidebar-left">
        <div class="logo">
            <img src="../../../../assets/images/StarcordBannerPNG(2).png" alt="logo">
        </div>
        <div class="divider"></div>
        <div class="sidebar-users">
          <app-sidebar-user></app-sidebar-user>
        </div>
    </div>
    <div class="main-content">
      <button id="test-button" (click)="clickTest()">
        TEST BUTTON
      </button>
    </div>
    <div class="sidebar-right"></div>
</div>
