<div class="signup-container">
  <div class="signup-left">
    <div class="login-text-container">
      <img src="../../../../assets/images/StarcordBannerPNG.png" />
    </div>
  </div>
  <div class="signup-right">
    <div class="signup-form-container">
      <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h1 id="signup-text">Create a new account</h1>
        <p id="login-text">Already have an account? <a routerLink="/login">Login</a></p>
        <div id="font-email">
          <i class="fa-regular fa-envelope"></i>
          <input
            id="email-input"
            type="text"
            placeholder="Email"
            formControlName="email"
            (focus)="isFocused.email = true"
            (blur)="isFocused.email = false"
            [class.error-border]="
              signupForm.controls.email.invalid &&
              !isFocused.email &&
              signupForm.controls.email.touched
            "
          />
        </div>
        <div id="font-display">
          <i class="fa-regular fa-address-card"></i>
          <input
            id="display-input"
            type="text"
            placeholder="Display name"
            formControlName="displayName"
            (focus)="isFocused.displayName = true"
            (blur)="isFocused.displayName = false"
            [class.error-border]="
              signupForm.controls.displayName.invalid &&
              !isFocused.username &&
              signupForm.controls.displayName.touched
            "
          />
        </div>
        <div id="font-username">
          <i class="fa-regular fa-user"></i>
          <input
            id="username-input"
            type="text"
            placeholder="Username"
            formControlName="username"
            (focus)="isFocused.username = true"
            (blur)="isFocused.username = false"
            [class.error-border]="
              signupForm.controls.username.invalid &&
              !isFocused.username &&
              signupForm.controls.username.touched
            "
          />
        </div>
        <div id="font-password">
          <i class="fa-solid fa-key" id="key-icon"></i>
          <input
            id="password-input"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            formControlName="password"
            (focus)="isFocused.password = true"
            (blur)="isFocused.password = false"
            [class.error-border]="
              signupForm.controls.password.invalid &&
              !isFocused.password &&
              signupForm.controls.password.touched
            "
          />
          <button type="button" id="password-toggle" (click)="togglePassword()">
            <i
              class="fa-solid"
              [class.fa-eye]="showPassword"
              [class.fa-eye-slash]="!showPassword"
            ></i>
          </button>
        </div>
        <button
          id="submit-button"
          type="submit"
          [disabled]="signupForm.invalid">
          Let's Go!
        </button>
        <div class="divider">
          <span>Or log in with</span>
        </div>
        <div class="social-login">
          <a href="/auth/google" class="social-btn google">
            <img src="../../../../assets/svgs/google.svg" alt="" />
            <span>Google</span>
          </a>

          <a href="/auth/github" class="social-btn github">
            <img src="../../../../assets/svgs/github.svg" alt="" />
            <span>Github</span>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
