<div class="login-container">
  <div class="login-left">
    <div class="login-text-container">
      <img src="../../../../assets/images/StarcordBannerPNG.png" />
      <!--
      <h1>Starcord</h1>
      <h3>Welcome Back!</h3>
      -->
    </div>
  </div>
  <div class="login-right">
    <div class="loin-form-contgainer">
      <form class="login-form">
        <h1 id="login-text">Log into an account</h1>
        <p id="signup-text">Not a member? <a routerLink="/signup">Create an account</a></p>
        <div id="font-user">
          <i class="fa-regular fa-user"></i>
          <input id="username-input" type="text" placeholder="Username" />
        </div>
        <div id="font-password">
          <i class="fa-solid fa-key" id="key-icon"></i>
          <input
            id="password-input"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
          />
          <button type="button" id="password-toggle" (click)="togglePassword()">
            <i
              class="fa-solid"
              [class.fa-eye]="showPassword"
              [class.fa-eye-slash]="!showPassword"
            ></i>
          </button>
        </div>
        <button id="submit-button" type="submit">Let's Go!</button>
        <div class="divider">
          <span>Or register with</span>
        </div>
        <div class="social-login">
          <a href="/auth/google" class="social-btn google">
            <img src="../../../../assets/images/google.svg" alt="" />
            <span>Google</span>
          </a>

          <a href="/auth/github" class="social-btn github">
            <img src="../../../../assets/images/github.svg" alt="" />
            <span>Github</span>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
