<div class="chat-wrapper" #scrollContainer>
  <div class="messages-container">
    <div class="channel-intro">
      <h1>Welcome to the start of the channel!</h1>
      <p>This is the beginning of your history in this chat.</p>
    </div>

    @for (group of groupedMessages; track group.dateLabel) {
      <div class="divider-line"><span>{{ group.dateLabel }}</span></div>

      @for (msg of group.messages; track msg.uniqueId) {
        <div class="message-entry">
          <img class="avatar" [src]="msg.profilePicture" alt="pfp">
          <div class="content-area">
            <div class="header">
              <span class="username">{{ msg.displayName }}</span>
              <span class="time">{{ msg.displayTime }}</span>
            </div>
            <div class="text">{{ msg.content }}</div>
          </div>
        </div>
      }
    }
  </div>
</div>
