@import "../src/app/shared/components/toast/toast.component.css";

:root {
  --primary-background-color: #282a3a;
  --secondary-color: #44687e;
  --secondary-color-2: #3c3d4c;

  --error-color: #E9484B;
  --success-color: #52b788;

  --primary-text-color: #f8f8fa;
  --secondary-text-color: #6c757d;

  --accent-color-red: #9e2a2b;
  --accent-color-gray: #373d49;
  --accent-color-light-gray: #9da394;
  --accent-color-purple: #6a4c93;
  --accent-color-dark-purple: #694b91;
  --accent-color-light-blue: #778da9;

  --login-button-background-color: #e9174a;
  --login-button-background-hover-color: #cc1550;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

